
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Khóa học của tôi</h2>
<div class="container">
    <div class="">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Lớp học</th>
                    <th scope="col">Học phí</th>
                    <th scope="col">Ngày học</th>

                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Toán</td>
                    <td>1000</td>
                    <td>20/09/2021</td>
                    <td class="text-info">
                        <a style="text-decoration:none" class="text-light btn btn-info" href="/MyCourses">
                            Chi tiết
                        </a>
                    </td>
                    <td class="text-info">
                        <a style="text-decoration:none" class="text-light btn btn-danger" href="/MyCourses">
                            Bỏ
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Văn</td>
                    <td>1000</td>
                    <td>20/09/2021</td>
                    <td class="text-info">
                        <a style="text-decoration:none" class="text-light btn btn-info" href="/MyCourses">
                            Chi tiết
                        </a>
                    </td>
                    <td class="text-info">
                        <a style="text-decoration:none" class="text-light btn btn-danger" href="/MyCourses">
                            Bỏ
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Anh2</td>
                    <td>1000</td>
                    <td>20/09/2021</td>
                    <td class="text-info">
                        <a style="text-decoration:none" class="text-light btn btn-info" href="/MyCourses">
                            Chi tiết
                        </a>
                    </td>
                    <td class="text-info">
                        <a style="text-decoration:none" class="text-light btn btn-danger" href="/MyCourses">
                            Bỏ
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Lý</td>
                    <td>1000</td>
                    <td>20/09/2021</td>
                    <td class="text-info">
                        <a style="text-decoration:none" class="text-light btn btn-info" href="/MyCourses">
                            Chi tiết
                        </a>
                    </td>
                    <td class="text-info">
                        <a style="text-decoration:none" class="text-light btn btn-danger" href="/MyCourses">
                            Bỏ
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
