
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đăng ký học</h2>
<div class="container">
    <div class="row">
        <div class="left col">
            @*<div class="title">
                <h2>Đăng ký học</h2>
            </div>*@
            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Họ tên:</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nguyễn Xuân A">
                </div>

                <div class="form-group">
                    <label for="exampleFormControlInput1">Số điện thoại:</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>

                <div class="add mt-4">
                    <button type="submit" class="btn btn-primary mb-2">Đăng ký</button>
                </div>
            </form>
        </div>
        <div class="right col">

        </div>
    </div>
</div>
