
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Thống kê khoản lương giáo viên</h2>
<div class="container">
    <div class="row">
        <div class="left col">
            <form method="post" action="/Admin/ThongKeLuongGiaoVien/ThongKeLuong">
                <div class="row">
                    <div class="form-group col">
                        <label for="ngaybatdau">Ngày bắt đầu:</label>
                        <input type="date" name="ngaybatdau" class="form-control" id="ngaybatdau">
                    </div>
                    <div class="form-group col">
                        <label for="ngayketthuc">Ngày kết thúc:</label>
                        <input type="date" name="ngayketthuc" value="" class="form-control" id="ngayketthuc">
                    </div>
                </div>

                <div class="add mt-3">
                    <button type="submit" class="btn btn-primary mb-2">Thống kê</button>
                </div>
            </form>
        </div>
        <div class="right col">

        </div>
    </div>
</div>