
@{
    ViewBag.Title = "Index2";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Thống kê khoản học phí</h2>
<div class="container">
    <div class="row">
        <div class="left col">
            <form method="post" action="/Admin/ThongKeLuongGiaoVien/ThongKeLuong">
                <div class="row">
                    <div class="form-group col">
                        <label for="ngaybatdau">Ngày bắt đầu:</label>
                        <input type="date" name="ngaybatdau" class="form-control" id="ngaybatdau">
                    </div>
                    <div class="form-group col">
                        <label for="ngayketthuc">Ngày kết thúc:</label>
                        <input type="date" name="ngayketthuc" class="form-control" id="ngayketthuc">
                    </div>
                </div>

                <div class="add mt-3">
                    <button type="submit" class="btn btn-primary mb-2">Thống kê</button>
                </div>
            </form>
        </div>
        <div class="right col">

        </div>
    </div>
    <h6 class="mt-3">Thông tin</h6>
    <div class="">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Mã Lớp học</th>
                    <th scope="col">Tên giáo viên</th>
                    <th scope="col">Học phí 1 buổi</th>
                    <th scope="col">Số lượng học sinh</th>
                    <th scope="col">Số buổi học</th>
                    <th scope="col">Tổng đi học</th>
                    <th scope="col">Vắng</th>
                    <th scope="col">Tổng học phí</th>
                    <!-- <th scope="col"></th> -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>LH01</td>
                    <td>Nguyễn Văn A</td>
                    <td>1000</td>
                    <td>35</td>
                    <td>12</td>
                    <td>11</td>
                    <td>1</td>
                    <td>11000</td>
                    <!-- <td class="text-info">Chi tiết</td> -->
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>LH01</td>
                    <td>Nguyễn Minh Q</td>
                    <td>1000</td>
                    <td>35</td>
                    <td>12</td>
                    <td>10</td>
                    <td>2</td>
                    <td>10000</td>
                    <!-- <td class="text-info">Chi tiết</td> -->
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>LH02</td>
                    <td>Vũ Minh P</td>
                    <td>1000</td>
                    <td>30</td>
                    <td>12</td>
                    <td>11</td>
                    <td>1</td>
                    <td>11000</td>
                    <!-- <td class="text-info">Chi tiết</td> -->
                </tr>

            </tbody>
        </table>
        <h5 class="mt-4">Tổng thu phí: 320000 đ</h5>
    </div>
</div>

