
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
@*    <meta name="viewport" content="width=device-width" />*@
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid mt-4">
        <div class="d-flex justify-content-center">
            <form class="col-3" action="/login/checklogin" method="post">
                <div class="p-2">
                    <label>Tài khoản</label>
                    <input class="form-control" type="text" name="username" />
                </div>
                <div class="p-2">
                    <label>Mật khẩu</label>
                    <input class="form-control" type="password" name="password" />
                </div>
                <button class="btn btn-primary">Đăng nhập</button>
            </form>
        </div>

    </div>
</body>
</html>
